<form (submit)="loginWithEmail($event, email.value, password.value)">
  <md-input-container>
    <input #email mdInput placeholder="Email" type="email">
  </md-input-container>
  <md-input-container>
    <input #password mdInput placeholder="Password" type="password">
  </md-input-container>
  <br>
  <button md-raised-button type="submit">Sign in</button>
</form>