<md-menu #meny="mdMenu">
  <button md-menu-item (click)="logout()">Logout</button>
</md-menu>

<md-toolbar color="primary">
  <span>{{title}}</span>

  <span class="app-toolbar-filler"></span>

  <button md-icon-button [mdMenuTriggerFor]="meny">
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>
  
<md-tab-group (selectChange)="endret($event)">
  <md-tab>
    <ng-template md-tab-label>
      <md-icon>home</md-icon>
    </ng-template>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon>movie_filter</md-icon>
    </ng-template>
  </md-tab>
</md-tab-group>

<br>

<router-outlet></router-outlet>