<dx-popup
  class="popup"
  [showTitle]="true"
  title="{{movie.Title}}"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="showPopup">
  <div *dxTemplate="let data of 'content'">
    <div><i>{{movie.Runtime}} | {{movie.Genre}}</i></div>
    <p>{{movie.Plot}}</p>
      <div class="dx-field">
          <div class="dx-field-label">Director</div>
          <div class="dx-field-value-static">
              {{movie.Director}}
          </div>
      </div>
      <div class="dx-field">
          <div class="dx-field-label">Actors</div>
          <div class="dx-field-value-static">
              {{movie.Actors}}
          </div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Available</div>
        <div class="dx-field-value">
          <dx-select-box [items]="availableOptions"></dx-select-box>
        </div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Watched</div>
        <div class="dx-field-value">
            <dx-date-box
                [value]="now"
                pickerType="rollers">
            </dx-date-box>
        </div>
    </div>
  </div>
</dx-popup>
