<dx-text-box 
    valueChangeEvent="keyup" 
    placeholder="Search" 
    mode="search" 
    (onValueChanged)="search($event)">
</dx-text-box>
<dx-list
  [dataSource]="dataSource"
  (onItemClick)="showDetails($event)">
  <div *dxTemplate="let movie of 'item'">
    <div class="movie">
      <img src="{{movie.Poster}}" />
      <div>{{getTitle(movie)}}</div>
      <div class="year">{{movie.Available}}</div>
    </div>
  </div>
</dx-list>

<span class="app-action">
  <button md-fab (click)="add()"><md-icon>add</md-icon></button>
</span>

<app-movie-popup></app-movie-popup>