.movie {
    height: 65px;
}
.movie > img {
    height: 100%;
    width: 50px;
    float: left;
}
.movie > div {
    padding-left: 10px;
    vertical-align: top;
    line-height: 65px;
    font-size: 15px;
    float: left;
}
.movie > div.year {
    float: right;
    font-size: 18px;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}